#form {

  .futura();

  p {
    color: #444;
    font-size: 24px;
    -webkit-font-smoothing: antialiased;

    strong {
      color: @black;
    }

  }

  header {
    background: @white;
  }

  iframe {

    width: 100%;
    display: block;
    border: none;
    min-height: 540px;

  }

  .content {
    background: @bgGray;
    .wrapper {
      padding: @space*2;
    }
  }

  .left-side {
    .wrapper {
      margin-left: @gutter;
      border-right: 1px solid #ddd;
    }
  }

  .right-side {
    .wrapper {
      margin-right: @gutter;
    }
  }

}